{% extends "base.html" %}
{% block content %}
<div id="home">

  {% if INTRO %}
  {% for page in pages | selectattr('title', '==', INTRO) %}
    <h2>{{page.title}}</h2>
    <page class="hentry">
        <div class="entry-content">
          {{ page.content }}
        </div><!-- /.entry-content -->
    </page>
  {% endfor %}
  {{ INTRO.content }}
  {% endif %}

  {% if articles %}
  <h2>blog posts</h2>
  <ul class="posts">
    {% for article in articles %}
    <li>
      <span>{{ article.date|strftime('%d %B %Y') }} &raquo;</span>
      <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
{% endblock %}
